# Unión de datos scrapeados, Dataframe final

In [222]:
!ls -lrt

total 28328
-rw-r--r--  1 prealfer  staff   420474 31 ago 19:15 TFM_scraping.ipynb
-rw-r--r--  1 prealfer  staff        0  5 sep 23:51 README.md
-rw-r--r--  1 prealfer  staff        0  5 sep 23:51 README.txt
-rw-r--r--  1 prealfer  staff    15285 30 sep 20:02 maleteros
-rw-r--r--  1 prealfer  staff    16680 30 sep 20:06 Scrapeo-Maleteros.ipynb
-rw-r--r--  1 prealfer  staff  3877960  3 oct 21:29 Script scraping - Dataframe (Antiguo).ipynb
-rw-r--r--@ 1 prealfer  staff   721923  4 oct 23:12 segmentos.numbers
-rw-r--r--@ 1 prealfer  staff    11542  4 oct 23:14 segmentos.csv
-rw-r--r--@ 1 prealfer  staff      441  4 oct 23:21 total_segmento.csv
-rw-r--r--@ 1 prealfer  staff     1303  4 oct 23:24 variaciones_segmento.csv
-rw-r--r--  1 prealfer  staff    11786  4 oct 23:47 Limpieza datos publicos.ipynb
drwxr-xr-x  5 prealfer  staff      170 12 oct 23:59 FlaskApp
-rw-r--r--  1 prealfer  staff  2563080 17 oct 23:59 datos_crudo
-rw-r--r--  1 prealfer  staff  2551216 17 oct 23:59 datos_limpios
-rw-r--r--  1 prealfer  staff  1642490 18 oct 00:01 Dataframe_limpio.csv
-rw-r--r--  1 prealfer  staff   327328 18 oct 00:01 Script scrapping - Dataframe.ipynb
-rw-r--r--  1 prealfer  staff  1722527 30 oct 22:06 datos_con_maletero.csv
-rw-r--r--  1 prealfer  staff   596260 30 oct 22:11 Construcción Dataframe definitivo.ipynb

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
datos = pd.read_csv('Dataframe_limpio.csv',header=0)
datos = datos.drop('Unnamed: 0',axis=1)
maleteros = pd.read_csv('maleteros')
maleteros = maleteros.drop('Unnamed: 0',axis=1)
len(datos)

5932

## Unificamos en mayúsculas

In [4]:
datos['marca'] = datos['marca'].apply(lambda x: x.upper().strip())
datos['modelo'] = datos['modelo'].apply(lambda x: x.upper().strip())
maleteros['Modelo'] = maleteros['Modelo'].apply(lambda x: x.upper())

### Creamos columna en 'datos' que contiene marca y modelo para cruzar con maleteros. A continuación, limpiamos de formatos y caracteres extraños y creamos una columna nueva con estos datos.

In [5]:
datos['mm']=datos['marca']+' '+datos['modelo']
modelos_data = datos['mm']
modelos_data = [mod.replace('NUEVO ','').replace('\xc3\xb3','O').replace('\xc3\xa9','E') for mod in modelos_data]
datos['MODELOS'] = modelos_data
datos.drop('mm', axis=1,inplace=True)

In [6]:
maleteros.columns = ['Marca','Modelo','Maletero']
modelos_maleteros = maleteros['Modelo']
modelos_maleteros = [mod.replace('NUEVO ','').replace(' 2017','').replace(' 2018','').replace('-BENZ','').replace('!','').replace('\xc5\xa0','S').replace('\xc3\xb3','O').replace('!','').replace('\xc3\xa9','E').replace('\xc3\xab','E') for mod in modelos_maleteros]
maleteros['MODELOS'] =  modelos_maleteros
maleteros.drop('Modelo',axis=1,inplace=True)
maleteros.rename(columns={'Marca': 'marca', 'marca-modelo': 'modelo', 'Maletero': 'maletero'}, inplace=True)

## Eliminamos los vehículos comerciales de nuestro Dataframe: 

### - No entran en el objetivo definido por negocio.
### - Sus características generarían 'outliers' (no del todo).

In [7]:
df = datos
len(df)

5932

In [8]:
df.marca.unique()

array(['ABARTH', 'AUDI', 'BMW', 'CITROEN', 'DACIA', 'DS', 'FIAT', 'FORD',
       'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LEXUS',
       'MASERATI', 'MAZDA', 'MERCEDES', 'MINI', 'MITSUBISHI', 'MORGAN',
       'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT', 'SKODA',
       'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA',
       'VOLKSWAGEN', 'VOLVO'], dtype=object)

In [9]:
borrar_volkswagen = ['CADDY','CARAVELLE','CRAFTER','TRANSPORTER', 'UP COMERCIAL']
borrar_toyota = ['LAND CRUISER COMERCIAL', 'PROACE', 'PROACE VERSO']
borrar_seat = ['IBIZA COMERCIAL']
borrar_renault = ['KANGOO', 'MASTER', 'TRAFIC']
borrar_peugeot = ['BIPPER COMERCIAL', 'BOXER', 'EXPERT', 'PARTNER','TRAVELLER', 'TRAVELLER M1']
borrar_opel = ['COMBO', 'MOVANO', 'VIVARO']
borrar_nissan = ['EVALIA','NT400', 'NV200', 'NV300', 'NV400']
borrar_mercedes = ['CITAN', 'SPRINTER', 'VITO']
borrar_ford = ['CONNECT', 'TOURNEO CONNECT', 'TOURNEO COURIER',
       'TOURNEO CUSTOM', 'TRANSIT', 'TRANSIT COURIER', 'TRANSIT CUSTOM']
borrar_dacia = ['DOKKER', 'DOKKER COMERCIAL', 'LODGY']
borrar_citroen = ['BERLINGO','C3 COMERCIAL', 'JUMPER', 'JUMPY', 'NEMO', 'NEMO COMERCIAL', 'SPACETOURER']
borrar_fiat = ['DOBL\xc3\xb3', 'DUCATO',
       'FIORINO', 'FIORINO COMERCIAL', 'FULLBACK', 'TALENTO']

In [10]:
modelos_borrar = borrar_volkswagen + borrar_toyota + borrar_seat + borrar_renault + borrar_peugeot + borrar_opel + borrar_nissan + borrar_mercedes + borrar_ford + borrar_dacia + borrar_citroen + borrar_fiat

for modelo in modelos_borrar:
    df = df[df['modelo']!=modelo]

In [11]:
len(df)

4670

## Limpieza y codificación de las variables para poder ser utilizadas.

####  Eliminamos unidades, caracteres raros, espacios....

In [12]:
df['precio'] = df['precio'].apply(lambda x: x.replace('€','').replace('.','').strip())
df['puertas'] = df['puertas'].apply(lambda x: x.replace(' puertas','').strip())
df['cv'] = df['cv'].apply(lambda x: x.replace(' cv','').strip())
df['traccion'] = df['traccion'].apply(lambda x: x.replace('Tracción ','').strip())
df['n_marchas'] = df['n_marchas'].apply(lambda x: x.replace(' marchas','').strip())
df['co2'] = df['co2'].apply(lambda x: x.replace(' gr/km','').strip())
df['autonomia'] = df['autonomia'].apply(lambda x: x.replace(' km','').strip())
df['consumo'] = df['consumo'].apply(lambda x: x.replace(' l/100km','').strip())
df['cilindrada'] = df['cilindrada'].apply(lambda x: x.replace(' cc','').strip())
df['capacidad deposito'] = df['capacidad deposito'].apply(lambda x: x.replace(' lts.','').strip())
df['max_vel'] = df['max_vel'].apply(lambda x: x.replace(' km/h','').strip())
df['0_a_100'] = df['0_a_100'].apply(lambda x: x.replace(' s.','').strip())
df['rpm'] = df['rpm'].apply(lambda x: x.replace(' rpm','').strip())
df['par'] = df['par'].apply(lambda x: x.replace('Nm','').strip())
df['garantia'] = df['garantia'].apply(lambda x: x.replace(' meses','').replace('.','').strip())

#### Asignamos los tipos a las variables: Float a los numéricos para ser normalizados o categóricos para aplicarles una regla posteriormente

In [13]:
df['precio'] = df['precio'].astype(float)
df['puertas'] = df['puertas'].astype(float)
df['cv'] = df['cv'].astype(float)
df['traccion'] = df['traccion'].astype('category')
df['n_marchas'] = df['n_marchas'].astype(float)
df['co2'] = df['co2'].astype(float)
df['consumo'] = df['consumo'].astype(float)
df['cilindrada'] = df['cilindrada'].astype(float)
df['max_vel'] = df['max_vel'].astype(int)
df['capacidad deposito'] = df['capacidad deposito'].astype(float)
df['0_a_100'] = df['0_a_100'].astype(float)
df['rpm'] = df['rpm'].astype(float)
df['par'] = df['par'].astype(float)
df['garantia'] = df['garantia'].astype(float)
df['combustible'] = df['combustible'].astype('category')
df['cambio'] = df['cambio'].astype('category')

##  Sacamos del análisis columnas (variables) que no van a tomar parte de la aplicación.

In [14]:
cols_to_drop = ['airbags','marchas','control traccion','control estabilidad','alarma','cierre centralizado','tipo llave','peso','cierre automatico','start/stop','CD/mp3/dvd','cilindrada','max_vel','rpm','estrellas NCAP','par']

df = df.drop(cols_to_drop, axis=1)

## Metemos las capacidades de los maleteros

In [15]:
data = [140, 185, 505, 465, 530, 535, 292, 390, 480, 445, 530, 460, 440, 270, 310, 380, 350, 280, 364, 480, 130, 175, 488, 480, 470, 520, 540, 421, 550, 690, 680, 345, 225, 278, 860, 285, 490, 560, 356, 145, 280, 425, 380, 587, 610, 486, 680, 1975, 423, 243, 505, 512, 460, 430, 621, 547, 560]
s = ['124 SPIDER', '595', 'A4 ALLROAD', 'A5', 'A6 ALLROAD', 'A7', 'TT', 'SERIE 2', 'SERIE 3', 'SERIE 4', 'SERIE 5', 'SERIE 6', 'TIPO', 'KA','F-TYPE', 'CEED', 'CX-3', 'MAZDA2', 'MAZDA3', 'MAZDA6', 'MX-5', 'AMG GT', 'CLASE B', 'CLASE C', 'CLASE CLA', 'CLASE CLS', 'CLASE E', 'CLASE GLA', 'CLASE GLC', 'CLASE GLE', 'CLASE GLS', 'CLASE SL', 'CLASE SLC', 'MINI','MONTERO', 'CORSA','INSIGNIA', 'INSIGNIA COUNTRY TOURER', 'MOKKA', '911', 'BOXSTER', 'CAYMAN', 'LE\xc3\xb3N', 'LE\xc3\xb3N X-PERIENCE', 'SCOUT', 'KORANDO', 'REXTON', 'RODIUS', 'TIVOLI', 'BRZ', 'FORESTER', 'OUTBACK', 'WRX STI', 'SX4 S-CROSS', 'LAND CRUISER', 'RAV-4', 'V90 CROSS COUNTRY']
maleteros_faltan = pd.Series(data, index=s)
maleteros2 = pd.DataFrame({'modelo':s,'maletero_2':data})

In [16]:
maleteros['maletero2'] = maleteros.maletero
maleteros.drop('maletero',axis=1,inplace=True)
maleteros.drop('marca',axis=1,inplace=True)
maleteros.head()

                MODELOS  maletero2
0       ALFA ROMEO MITO        270
1         ALFA ROMEO 4C        110
2  ALFA ROMEO GIULIETTA        350
3     ALFA ROMEO GIULIA        480
4    ALFA ROMEO STELVIO        525

In [17]:
df_maleteros_1 = pd.merge(df,maleteros,how='outer')
df_maleteros_1.drop(df_maleteros_1[df_maleteros_1['marca'].isnull()].index,inplace=True)

In [18]:
df_maleteros_2 = pd.merge(df_maleteros_1,maleteros2,how='outer')

In [19]:
def suma_maleteros(row):
    if(np.isnan(row['maletero2'])):
       return row['maletero_2']       
    else:
       return row['maletero2']

In [20]:
df_maleteros_2['maletero'] = df_maleteros_2.apply(suma_maleteros, axis=1)
df_maleteros_2.drop(['maletero2','maletero_2'], axis=1, inplace=True)
df_maleteros_2['maletero'] = df_maleteros_2['maletero'].astype(float)

### Creamos la variable tipo de marca, para identificar marcas generalistas, premiums y gran lujo

In [21]:
df2 = df_maleteros_2

In [22]:
marcas = ['ABARTH', 'FIAT', 'AUDI', 'BMW', 'CITROEN', 'DACIA', 'DS', 'FORD',
       'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LEXUS',
       'MASERATI', 'MAZDA', 'MERCEDES', 'MINI', 'MITSUBISHI', 'NISSAN',
       'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'SEAT', 'SKODA', 'SMART',
       'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA', 'VOLKSWAGEN',
       'VOLVO']

In [23]:
tipos_marca = [1,1,2,2,1,1,1,1,1,1,2,2,1,1,2,3,1,2,2,1,1,1,1,3,1,1,1,1,1,1,1,3,1,1,2]

In [24]:
marcas_type = pd.DataFrame({'marca':marcas,'tipo_marca':tipos_marca})

In [25]:
df_marcas = pd.merge(df2,marcas_type,how='outer')

### Creamos la variable segmento. Indica el segmento comercial al que pertenece el vehículo

In [26]:
df3 = df_marcas

In [27]:
segmentos = pd.read_csv('segmentos.csv',sep=';')
segmentos['modelo'] = segmentos['Modelo']
segmentos['segmento1'] = segmentos['Segmento']
segmentos.drop(['Marca','Segmento','Modelo'], axis=1,inplace=True)

In [28]:
mod = ['595', '500L', '500X', 'PUNTO', 'A4 ALLROAD', 'A6 ALLROAD', 'I3',
       'I8', 'C-ELYS\xc3\xa9E', 'C3 AIRCROSS', 'DS4 CROSSBACK', 'C-MAX',
       'CR-V', 'HR-V', 'I10', 'I20', 'I20 ACTIVE', 'I30', 'I40', 'IX20',
       'Q60', 'E-PACE', 'F-TYPE CONVERTIBLE', 'LC', 'GRANTURISMO',
       'MAZDA2', 'MAZDA3', 'MAZDA6', 'AMG GT', 'COUNTRYMAN', 'I-MIEV',
       '370Z', 'CROSSLAND X', 'GRANDLAND X', 'INSIGNIA COUNTRY TOURER',
       '508 RXH', 'ION', 'KOLEOS', 'M\xc3\xa9GANE', 'SC\xc3\xa9NIC',
       'TWIZY', 'LE\xc3\xb3N', 'LE\xc3\xb3N X-PERIENCE', 'MII', 'KODIAQ',
       'SCOUT', 'BRZ', 'WRX STI', 'IGNIS', 'GT86', 'LAND CRUISER',
       'ARTEON', 'GOLF ALLTRACK', 'PASSAT ALLTRACK', 'UP',
       'V90 CROSS COUNTRY', 'XC60', 'XC90']

seg = ['Superutilitario', 'Monovolumen polivalente', 'TTE Pequeño', 'Utilitario/Polivalente', 'Familiar', 'Familiar', 'Monovolumen polivalente',
       'Deportivo alto', 'Berlina', 'Monovolumen polivalente', 'Compacto', 'Monovolumen compacto',
       'TTE Familiar', 'TTE Compacto', 'Superutilitario', 'Utilitario/Polivalente', 'Utilitario/Polivalente', 'Compacto', 'Familiar', 'Monovolumen polivalente',
       'Deportivo alto', 'TTE Compacto', 'Deportivo alto', 'Deportivo alto', 'Gran lujo',
       'Utilitario/Polivalente', 'Compacto', 'Berlina', 'Deportivo alto', 'TTE Peque\xc3\xb1o', 'Superutilitario',
       'Deportivo bajo', 'TTE Pequeño', 'TTE Compacto', 'Familiar',
       'Familiar', 'Superutilitario', 'TTE Familiar', 'Compacto', 'Monovolumen familiar',
       'Superutilitario', 'Compacto', 'Familiar', 'Superutilitario', 'TTE Familiar',
       'Familiar', 'Deportivo bajo', 'Compacto', 'Superutilitario', 'Deportivo bajo', 'TTE Superior',
       'Berlina', 'Familiar', 'Familiar', 'Superutilitario',
       'Familiar', 'TTE Familiar', 'TTE Superior']

segmentos2 = pd.DataFrame({'modelo':mod, 'segmento2':seg})

In [29]:
df_segmentos = pd.merge(df3,segmentos,how='outer')
df_segmentos.drop(df_segmentos[df_segmentos['marca'].isnull()].index,inplace=True)

In [30]:
df_segmentos_2 = pd.merge(df_segmentos,segmentos2,how='outer')
df_segmentos_2.drop(df_segmentos_2[df_segmentos_2['marca'].isnull()].index,inplace=True)

In [31]:
df_segmentos_2['segmento'] = df_segmentos_2.segmento1.combine_first(df_segmentos_2.segmento2)
df_segmentos_2.drop(['segmento1','segmento2'],axis=1,inplace=True)

### Eliminamos vehículos especiales como el Renault Twizy

In [32]:
df4 = df_segmentos_2

In [33]:
row_twizy = df4[df4.cv==17].index
df4.drop(row_twizy, inplace=True)

In [34]:
def longitud(carroceria):
    return carroceria[:4]

In [35]:
df4['longitud'] = df4['carroceria'].apply(longitud)
df4.drop('carroceria',axis=1,inplace=True)
df4['longitud'] = df4['longitud'].astype(float)
df4['Segmento'] = df4['segmento'].astype('category')
df4['marca'] = df4['marca'].astype('category')

### Agrupamos tipos de tracción: ['trasera', 'delantera', 'total']

In [36]:
tracciones_totales = ['Todo terreno tracción total permanente', 'total permanente', 'Todo terreno tracción total conectable', 'total conectable']

def traccion(row):
    if(str.strip(row['traccion']) in tracciones_totales):
        return 'total'
    else:
        return row['traccion']

In [37]:
df4['tipo_traccion'] = df4.apply(traccion,axis=1)
df4['traccion'] = df4['tipo_traccion']
df4.drop('tipo_traccion',axis=1,inplace=True)
df4['traccion'].unique()

array(['trasera', 'delantera', 'total'], dtype=object)

## Preparar el Dataframe para el cálculo de distancias

#### Eliminamos las columnas categóricas que sirven para identificar al vehículo, pero que no toman parte en el cálculo de distancias sobre ellas

In [38]:
cols_descriptivas = ['marca','MODELOS']
df4.drop(cols_descriptivas, axis=1,inplace=True)
df4['cambio'] = df4['cambio'].apply(str.strip)

### Agrupamos los tipos de cambio en Automático, automatizado y manual

In [39]:
cambios_automaticos = ['Automática secuencial', 'Directo. sin caja de cambios', 'Automática continua. secuencial', 'Automática', 'Automática continua']

In [40]:
def orden_cambios(row):
    if row['cambio'] in cambios_automaticos:
        return 'automatico'
    elif (row['cambio']=='Manual automatizada'):
        return row['cambio']
    else:
        return 'manual'

In [41]:
df4['cambio_marchas'] = df4.apply(orden_cambios,axis=1)
df4.cambio = df4.cambio_marchas
df4.drop('cambio_marchas', axis=1,inplace=True)

### Codificamos el tipo de tracción Delantera->1; Trasera 0.5; Total->0

In [42]:
def cod_traccion(row):
    if(row['traccion'].strip()=='delantera'):
        return 1
    elif(row['traccion'].strip()=='trasera'):
        return 0.5
    else:
        return 0

In [43]:
df4['cod_tra'] = df4.apply(cod_traccion,axis=1)
df4['traccion'] = df4['cod_tra']
df4['traccion'] = df4['traccion'].astype(float)
df4.drop('cod_tra',axis=1,inplace=True)

### Codificamos combustible:

#### Vamos a codificar los tipos de combustible (realmente, energía) con las que trabaja el veícuhlo. Tratamos de ordenar por limpieza medioambiental, comenzando por eléctricos puros hasta llegar a los vehículos diésel.

In [44]:
hibridos = ['Diesel y corriente eléctrica', 'Gasolina y corriente eléctrica']

def cod_comb(row):
    if(row['combustible']=='Corriente eléctrica'):
        return 1
    elif(row['combustible'] in hibridos):
        return 0.75
    elif(row['combustible']=='Gasolina/gas'):
        return 0.5
    elif(row['combustible']=='Gasolina'):
        return 0.25
    else:
        return 0

In [45]:
df4.combustible = df4.combustible.apply(str.strip)
df4['cod_comb'] = df4.apply(cod_comb,axis=1)
df4['combustible'] = df4['cod_comb']
df4.drop('cod_comb',axis=1,inplace=True)

### Codificamos el cambio de marchas

In [46]:
def cod_cambio(row):
    if(row['cambio']=='manual'):
        return 1
    elif(row['cambio']=='Manual automatizada'):
        return 0.5
    else:
        return 0

In [47]:
df4['cod_camb'] = df4.apply(cod_cambio,axis=1)
df4['cambio'] = df4['cod_camb']
df4.drop('cod_camb',axis=1,inplace=True)

### Codificamos el segmento al que pertenece el vehículo, aunque en el futuro quizás sólo tome parte para filtrar los requisitos del usuario.

In [48]:
def cod_seg(row):
    if(row['Segmento']=='Superutilitario'):
        return 0
    elif(row['Segmento']=='Deportivo bajo'):
        return 2
    elif(row['Segmento']=='Utilitario/Polivalente'):
        return 8
    elif(row['Segmento']=='Monovolumen polivalente'):
        return 17
    elif(row['Segmento']=='Compacto'):
        return 10
    elif(row['Segmento']=='TTE Pequeño'):
        return 12
    elif(row['Segmento']=='TTE Compacto'):
        return 20
    elif(row['Segmento']=='Berlina'):
        return 27
    elif(row['Segmento']=='Familiar'):
        return 30
    elif(row['Segmento']=='Monovolumen compacto'):
        return 40
    elif(row['Segmento']=='Monovolumen familiar'):
        return 42
    elif(row['Segmento']=='TTE Familiar'):
        return 45
    elif(row['Segmento']=='TTE Superior'):
        return 60
    elif(row['Segmento']=='Gran lujo'):
        return 80
    elif(row['Segmento']=='Deportivo alto'):
        return 100

In [49]:
df4['cod_seg'] = df4.apply(cod_seg,axis=1)
df4['Segmento'] = df4['cod_seg']
df4.drop('cod_seg',axis=1,inplace=True)

#### Cambiamos el formato de las autonomías -> eliminamos los puntos que delimitan los millares

In [50]:
def cifras(item):
    if(item[1]=='.'):
        return (item[0]+item[2:]).strip()
    else:
        return item.strip()

In [51]:
df4['autonomia2'] = df4['autonomia'].apply(cifras)
df4['autonomia'] = df4['autonomia2']
df4.drop('autonomia2',axis=1, inplace=True)

#### Seteamos a tipo float las variables que falten, para su normalización

In [52]:
df4['Segmento'] = df4['Segmento'].astype(float)
df4['puertas'] = df4['puertas'].astype(float)
df4['autonomia'] = df4['autonomia'].astype(float)

In [53]:
df4 = df4.drop_duplicates()
df4 = df4.dropna()

#### Sacamos las columnas identificativas de los vehículos ya que no van a ser normalizadas y utilizadas en el cálculo de distancias. .

In [54]:
datos_sin_normalizar = df4.drop(['modelo','version','segmento'],axis=1)

### Función que normaliza los datos conforme al mínimo.

In [55]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [56]:
normalizada = normalize(datos_sin_normalizar)

# Calcular distancias euclídeas

In [57]:
from scipy.spatial import distance

In [58]:
array_norm = normalizada.values
df_listado = df4[['modelo','version','precio','segmento']]

In [88]:
def recomienda_50(index):

    recorrido = range(len(normalizada))
    distancias = []

    for i in recorrido:
        distancias.append(distance.euclidean(array_norm[index], array_norm[i]))
        
    df_dist = pd.DataFrame({'dist':distancias, 'ind':recorrido})
    
    return df_dist.sort_values('dist', ascending=True).head(50).index

In [93]:
%time
resultado = recomienda_50(811)

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 8.11 µs

In [100]:
df4.ix[resultado].modelo

811     SERIE 3
783     SERIE 3
823     SERIE 3
759     SERIE 2
817     SERIE 3
771     SERIE 2
805     SERIE 3
781     SERIE 2
833     SERIE 3
749     SERIE 2
2647     MAZDA6
789     SERIE 3
755     SERIE 2
761     SERIE 2
741     SERIE 2
767     SERIE 2
632          TT
620          R8
745     SERIE 2
812     SERIE 3
642          TT
784     SERIE 3
799     SERIE 3
824     SERIE 3
760     SERIE 2
821     SERIE 3
818     SERIE 3
772     SERIE 2
773     SERIE 2
2641     MAZDA6
806     SERIE 3
2633     MAZDA6
782     SERIE 2
834     SERIE 3
750     SERIE 2
908     SERIE 4
903     SERIE 4
739     SERIE 2
2078     F-PACE
2081     F-PACE
743     SERIE 2
2083     F-PACE
2085     F-PACE
2648     MAZDA6
2087     F-PACE
2095     F-TYPE
631          TT
2079     F-PACE
2088     F-PACE
790     SERIE 3
Name: modelo, dtype: object

In [92]:
df_listado[df_listado['modelo']=='SERIE 3']

      modelo                          version   precio        segmento
783  SERIE 3                             318i  23461.0  Deportivo bajo
784  SERIE 3                             318i  23461.0        Familiar
785  SERIE 3                             316d  23835.0  Deportivo bajo
786  SERIE 3                             316d  23835.0        Familiar
787  SERIE 3                      318i (4.75)  24382.0  Deportivo bajo
788  SERIE 3                      318i (4.75)  24382.0        Familiar
789  SERIE 3                     318i Touring  24924.0  Deportivo bajo
790  SERIE 3                     318i Touring  24924.0        Familiar
791  SERIE 3                            318iA  25493.0  Deportivo bajo
792  SERIE 3                            318iA  25493.0        Familiar
793  SERIE 3                     316d Touring  25495.0  Deportivo bajo
794  SERIE 3                     316d Touring  25495.0        Familiar
795  SERIE 3                            316dA  25867.0  Deportivo bajo
796  SERIE 3                            316dA  25867.0        Familiar
797  SERIE 3                     318iA (4.75)  26494.0  Deportivo bajo
798  SERIE 3                     318iA (4.75)  26494.0        Familiar
799  SERIE 3                    318d Business  26789.0  Deportivo bajo
800  SERIE 3                    318d Business  26789.0        Familiar
801  SERIE 3                    318iA Touring  27036.0  Deportivo bajo
802  SERIE 3                    318iA Touring  27036.0        Familiar
803  SERIE 3                     318d Touring  27155.0  Deportivo bajo
804  SERIE 3                     318d Touring  27155.0        Familiar
805  SERIE 3           320d EfficientDynamics  27279.0  Deportivo bajo
806  SERIE 3           320d EfficientDynamics  27279.0        Familiar
807  SERIE 3                             320i  27414.0  Deportivo bajo
808  SERIE 3                             320i  27414.0        Familiar
809  SERIE 3                    316dA Touring  27527.0  Deportivo bajo
810  SERIE 3                    316dA Touring  27527.0        Familiar
811  SERIE 3                             320d  27943.0  Deportivo bajo
812  SERIE 3                             320d  27943.0        Familiar
..       ...                              ...      ...             ...
833  SERIE 3                             318d  30213.0  Deportivo bajo
834  SERIE 3                             318d  30213.0        Familiar
835  SERIE 3  320dA Touring EfficientDynamics  30971.0  Deportivo bajo
836  SERIE 3  320dA Touring EfficientDynamics  30971.0        Familiar
837  SERIE 3                    320iA Touring  31187.0  Deportivo bajo
838  SERIE 3                    320iA Touring  31187.0        Familiar
839  SERIE 3              320d Touring xDrive  31481.0  Deportivo bajo
840  SERIE 3              320d Touring xDrive  31481.0        Familiar
841  SERIE 3                    320dA Touring  31635.0  Deportivo bajo
842  SERIE 3                    320dA Touring  31635.0        Familiar
843  SERIE 3                320i Gran Turismo  31997.0  Deportivo bajo
844  SERIE 3                320i Gran Turismo  31997.0        Familiar
845  SERIE 3                     320dA xDrive  32050.0  Deportivo bajo
846  SERIE 3                     320dA xDrive  32050.0        Familiar
847  SERIE 3                            318dA  32221.0  Deportivo bajo
848  SERIE 3                            318dA  32221.0        Familiar
849  SERIE 3              320d Touring (4.75)  32288.0  Deportivo bajo
850  SERIE 3              320d Touring (4.75)  32288.0        Familiar
851  SERIE 3             320dA Touring xDrive  32325.0  Deportivo bajo
852  SERIE 3             320dA Touring xDrive  32325.0        Familiar
853  SERIE 3               320d xDrive (4.75)  32719.0  Deportivo bajo
854  SERIE 3               320d xDrive (4.75)  32719.0        Familiar
855  SERIE 3         318d Gran Turismo (4.75)  32926.0  Deportivo bajo
856  SERIE 3         318d Gran Turismo (4.75)  32926.0        Familiar
857  SERIE 3               318dA Gran Turismo  32985.0  Deportivo bajo
858  SERIE 3               318dA Gran Turismo  32985.0        Familiar
859  SERIE 3                            330iA  33515.0  Deportivo bajo
860  SERIE 3                            330iA  33515.0        Familiar
861  SERIE 3                320d Gran Turismo  33690.0  Deportivo bajo
862  SERIE 3                320d Gran Turismo  33690.0        Familiar

[80 rows x 4 columns]