# Tratamiento de datos de ventas

In [2]:
!ls -lrt

total 24432
-rw-r--r--  1 prealfer  staff   420474 31 ago 19:15 TFM_scraping.ipynb
-rw-r--r--  1 prealfer  staff        0  5 sep 23:51 README.md
-rw-r--r--  1 prealfer  staff        0  5 sep 23:51 README.txt
-rw-r--r--  1 prealfer  staff    15285 30 sep 20:02 maleteros
-rw-r--r--  1 prealfer  staff    16680 30 sep 20:06 Scrapeo-Maleteros.ipynb
-rw-r--r--  1 prealfer  staff  3877960  3 oct 21:29 Script scraping - Dataframe (Antiguo).ipynb
-rw-r--r--  1 prealfer  staff  2584710  3 oct 23:25 datos_crudo
-rw-r--r--  1 prealfer  staff  2572856  3 oct 23:26 datos_limpios
-rw-r--r--  1 prealfer  staff  1757431  3 oct 23:31 Dataframe_limpio.csv
-rw-r--r--  1 prealfer  staff   172435  3 oct 23:55 Script scrapping - Dataframe.ipynb
-rw-r--r--  1 prealfer  staff   318683  3 oct 23:55 Construcción Dataframe definitivo.ipynb
-rw-r--r--@ 1 prealfer  staff   721923  4 oct 23:12 segmentos.numbers
-rw-r--r--@ 1 prealfer  staff    11542  4 oct 23:14 segmentos.csv
-rw-r--r--@ 1 prealfer  staff      441  4 oct 23:21 total_segmento.csv
-rw-r--r--@ 1 prealfer  staff     1303  4 oct 23:24 variaciones_segmento.csv
-rw-r--r--  1 prealfer  staff       72  4 oct 23:34 Untitled.ipynb

In [6]:
import pandas as pd

In [9]:
segmentos = pd.read_csv('segmentos.csv',';')

In [7]:
ventas_tot_segmento = pd.read_csv('total_segmento.csv',';')

In [8]:
variaciones_segmento = pd.read_csv('variaciones_segmento.csv',';')

In [11]:
segmentos.drop(0).head()

        Marca         Segmento      Modelo
1      ABARTH   Deportivo bajo  124 SPIDER
2      ABARTH  Superutilitario         500
3  ALFA ROMEO   Deportivo bajo          4C
4  ALFA ROMEO         Familiar      GIULIA
5  ALFA ROMEO         Compacto   GIULIETTA

In [14]:
ventas_tot_segmento.drop([0,1]).head()

                Segmentos     Total
2         Superutilitario   53416.0
3  Utilitario/Polivalente  258144.0
4                Compacto  278592.0
5                Familiar   83048.0
6                 Berlina    9344.0

In [18]:
variaciones_segmento.drop('Unnamed: 1',axis=1).head()

,Segmentos,Total,% Var.,Gasol.,% Var..1,Diesel,% Var..2,Eléctrico,% Var..3
0,Superutilitario,53.416,"-3,20 %",48.912,"-4,18 %",3.827,"2,88 %",677.0,"62,35 %"
1,Utilitario/Polivalente,258.144,"9,83 %",185.211,"22,79 %",72.507,"-13,57 %",426.0,"36,54 %"
2,Compacto,278.592,"3,34 %",108.544,"27,81 %",169.349,"-8,01 %",699.0,"21,78 %"
3,Familiar,83.048,"4,00 %",7.534,"38,82 %",75.313,"1,21 %",201.0,"957,89 %"
4,Berlina,9.344,"11,97 %",609.000,"16,67 %",8.687,"11,20 %",48.0,"336,36 %"