# Scrapping de capacidades de maleteros

In [71]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as rq

In [72]:
main_url = 'http://www.medidasdecoches.com/'

In [73]:
main_page = rq.get(main_url)
main_soup = BeautifulSoup(main_page.content, 'html.parser')

capacidades = []

for marca in main_soup.find_all('div', class_='logos'):
    
    #print(marca.find('a').getText())
    second_page = rq.get(main_url+marca.find('a', href=True)['href'])
    second_soup = BeautifulSoup(second_page.content, 'html.parser')
    
    for modelo in second_soup.find_all('div',class_='unit'):
        
        #print(modelo.find('br').getText())
        capacidades.append(marca.find('a').getText()+':'+modelo.find('h2').getText()+':'+modelo.find('br').getText())
        #print(modelo.find('h2').getText()+':'+modelo.find('br').getText())
        #print(modelo.find('br').getText())

In [170]:
df_capacidades = pd.DataFrame(capacidades,columns=['Marca : Modelo : Titulo : Dimensiones : Maletero'])

In [171]:
df_capacidades = df_capacidades['Marca : Modelo : Titulo : Dimensiones : Maletero'].apply(lambda x: (pd.Series(x.split(':'))))

In [172]:
df_capacidades['Marca']=df_capacidades[0]
df_capacidades['Modelo']=df_capacidades[1]
df_capacidades['Maletero']=df_capacidades[4]

In [173]:
df_capacidades.head()

,0,1,2,3,4,Marca,Modelo,Maletero
0,ALFA ROMEO,Alfa Romeo MiTo,L x A x A,4063 x 1721 x 1446 mmCapacidad del maletero,270 dm3,ALFA ROMEO,Alfa Romeo MiTo,270 dm3
1,ALFA ROMEO,Alfa Romeo 4C,L x A x A,3989 x 1864 x 1183 mmCapacidad del maletero,110 dm3,ALFA ROMEO,Alfa Romeo 4C,110 dm3
2,ALFA ROMEO,Alfa Romeo Giulietta,L x A x A,4351 x 1798 x 1465 mmCapacidad del maletero,350 dm3,ALFA ROMEO,Alfa Romeo Giulietta,350 dm3
3,ALFA ROMEO,Alfa Romeo Giulia,L x A x A,4643 x 1860 x 1436 mmCapacidad del maletero,480 dm3,ALFA ROMEO,Alfa Romeo Giulia,480 dm3
4,ALFA ROMEO,Nuevo Alfa Romeo Stelvio 2017,L x A x A,4687 x 1903 x 1671 mmCapacidad del maletero,525 dm3,ALFA ROMEO,Nuevo Alfa Romeo Stelvio 2017,525 dm3

In [174]:
df_capacidades = df_capacidades.drop([0,1,2,3,4],axis=1)

In [175]:
df_capacidades = df_capacidades.dropna()

In [176]:
df_capacidades.head()

        Marca                         Modelo  Maletero
0  ALFA ROMEO                Alfa Romeo MiTo   270 dm3
1  ALFA ROMEO                  Alfa Romeo 4C   110 dm3
2  ALFA ROMEO           Alfa Romeo Giulietta   350 dm3
3  ALFA ROMEO              Alfa Romeo Giulia   480 dm3
4  ALFA ROMEO  Nuevo Alfa Romeo Stelvio 2017   525 dm3

In [177]:
def sacar_numero(capacidad_unidades):
    capacidad = str(capacidad_unidades)
    trozos = [capacidad.split(' ')]
    return trozos[0]

#df_capacidades['Maletero']=df_capacidades['Maletero'].apply()
#df_capacidades.head()

In [178]:
df_capacidades.head()

        Marca                         Modelo  Maletero
0  ALFA ROMEO                Alfa Romeo MiTo   270 dm3
1  ALFA ROMEO                  Alfa Romeo 4C   110 dm3
2  ALFA ROMEO           Alfa Romeo Giulietta   350 dm3
3  ALFA ROMEO              Alfa Romeo Giulia   480 dm3
4  ALFA ROMEO  Nuevo Alfa Romeo Stelvio 2017   525 dm3

In [184]:
df_capacidades['CapacidadMaletero'] = df_capacidades['Maletero'].apply(lambda x: x.strip()[0:x.rfind(' ')])

In [186]:
df_capacidades = df_capacidades.drop(['Maletero'], axis=1)

In [187]:
df_capacidades.head()

        Marca                         Modelo CapacidadMaletero
0  ALFA ROMEO                Alfa Romeo MiTo              270
1  ALFA ROMEO                  Alfa Romeo 4C              110
2  ALFA ROMEO           Alfa Romeo Giulietta              350
3  ALFA ROMEO              Alfa Romeo Giulia              480
4  ALFA ROMEO  Nuevo Alfa Romeo Stelvio 2017              525

In [189]:
df_capacidades.to_csv('maleteros',encoding='utf-8')